/* MODIFIERS */
/* FONT {{{ */

 em { white-space:nowrap; }
 em { font-style:normal; }

.o  { font-size:80%; font-weight:normal; letter-spacing:3px; }
.r  { font-size:80%; font-weight:bold;   letter-spacing:3px; }
.m  { font-size:80%; font-weight:bold;   letter-spacing:3px; }
.l  { font-size:80%; font-weight:bold;   letter-spacing:3px; }

/* }}} */
/* RADIUS {{{ */

 em { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.oo { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.rr { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.mm { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.ll { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

.nn { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.ss { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.cc { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.aa { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

/* }}} */
/* COLORS {{{ */
.expanded .expanded { background: #DEDEDE; }

 em {  color:#444 !important; background-color:#fafafa !important; border:1px solid #aaa !important; }

.todo { color:red; }

.o  {  color:#444; }
.oo {  color:#444; background-color:#000; border:1px solid  #000; }

.r  {  color:#080; }
.rr {  color:#080; background-color:#020; border:1px solid #080; }

.m  {  color:#06f; }
.mm {  color:#06f; background-color:#024; border:1px solid #06f; }

.l  {  color:#a00; }
.ll {  color:#a00; background-color:#300; border:1px solid #a00; }

.nn {  color:#a6f; background-color:#204; border:1px solid #538; }

.ss {  color:#000; background-color:#550; border:1px solid #aa0; }
.cc {  color:#000; background-color:#055; border:1px solid #0aa; }
.aa {  color:#000; background-color:#505; border:1px solid #a0a; }

/* }}} */
/* BORDER {{{ */

.tl { border:#200 8px solid; }
.tm { border:#005 8px solid; }
.tn { border:#204 8px solid; }
.to { border:#222 8px solid; }
.tr { border:#020 8px solid; }

/* }}} */

/* MERIT POINTS */
/* FONT {{{ */
.bt { font-size:120%; }
.gr { font-size:160%; font-weight:bold; }
.nb { font-size:100%; }
.ng { font-size: 80%; }
.vg { font-size:140%; font-weight:bold; }

/* }}} */
/* RADIUS {{{ */
.bt { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.gr { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.nb { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.ng { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.vg { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }

/* }}} */
/* COLORS {{{ */
.ng {  color:#DDD; background-color:#000; }
.nb {  color:#FFF; background-color:#00F; }
.bt {  color:#000; background-color:#0C0; }
.vg {  color:#FF0; background-color:#F0F; }
.gr {  color:#F00; background-color:#FF0; }

/* }}} */
/* OPACITY {{{ */
.bt { opacity:0.8; filter:alpha(opacity= 80); }
.gr { opacity:1.0; filter:alpha(opacity=100); }
.nb { opacity:0.7; filter:alpha(opacity= 70); }
.ng { opacity:1.0; filter:alpha(opacity=100); }
.vg { opacity:1.0; filter:alpha(opacity= 80); }

/* }}} */
/* SHADOW {{{ */

.bt { box-shadow: rgba(0, 0, 0, 0.3) 0 4px 4px; }
.gr { box-shadow: rgba(0, 0, 0, 0.3) 0 6px 6px; }
.nb { box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px; }
.ng { box-shadow: rgba(0, 0, 0, 0.3) 0 2px 2px; }
.vg { box-shadow: rgba(0, 0, 0, 0.3) 0 5px 5px; }

.fav_icon_span img       { margin:0 0 0 1em; vertical-align:top; }
.fav_icon_span img       { box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px; }
.fav_icon_span img:hover { box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px; }


/* }}} */
/* CURSOR - USER-SELECT {{{ */

.bt { cursor:crosshair; }
.gr { cursor:crosshair; }
.nb { cursor:crosshair; }
.ng { cursor:crosshair; }
.vg { cursor:crosshair; }

.bt { -moz-user-select:-moz-none; -ms-user-select:none; -webkit-user-select :none; }
.gr { -moz-user-select:-moz-none; -ms-user-select:none; -webkit-user-select :none; }
.nb { -moz-user-select:-moz-none; -ms-user-select:none; -webkit-user-select :none; }
.ng { -moz-user-select:-moz-none; -ms-user-select:none; -webkit-user-select :none; }
.vg { -moz-user-select:-moz-none; -ms-user-select:none; -webkit-user-select :none; }

/* }}} */
/* TEXT {{{ */

.bt { white-space:nowrap; }
.gr { white-space:nowrap; }
.nb { white-space:nowrap; }
.ng { white-space:nowrap; }
.vg { white-space:nowrap; }

.bt * { vertical-align:text-top; }
.gr * { vertical-align:text-top; }
.nb * { vertical-align:text-top; }
.ng * { vertical-align:text-top; }
.vg * { vertical-align:text-top; }

/* }}} */

/* CARDS */
/* pre_card {{{ */
.pre_card {
     margin:4px !important;
    padding:4px !important;
    width:160px !important;
    display:inline-block;
    vertical-align:top;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;

  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 6px 6px;
  -moz-box-shadow   : rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 6px 6px;
  box-shadow        : rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 6px 6px;
}
.pre_card div      { float:left; clear:left; }
.pre_card div      { text-align:left; margin:1px; }
.pre_card div span { vertical-align:middle; }

/* }}} */

/* NAVIGATION */
/* rules {{{ */
.rules {
    -moz-border-bottom-left-radius     : 0;
    -moz-border-top-left-radius        : 0;
    -ms-border-bottom-left-radius      : 0;
    -ms-border-top-left-radius         : 0;
    -o-border-bottom-left-radius       : 0;
    -o-border-top-left-radius          : 0;
    -webkit-border-bottom-left-radius  : 0;
    -webkit-border-top-left-radius     : 0;

    -moz-border-bottom-right-radius    : 16px;
    -moz-border-top-right-radius       : 16px;
    -ms-border-bottom-right-radius     : 16px;
    -ms-border-top-right-radius        : 16px;
    -o-border-bottom-right-radius      : 16px;
    -o-border-top-right-radius         : 16px;
    -webkit-border-bottom-right-radius : 16px;
    -webkit-border-top-right-radius    : 16px;
/*
    float:left;
    clear:left;
*/
    width:90%;
    display                            : block;
    background-color                   : #888;
    border                             : 1px solid #666;
    box-shadow                         : rgba(0, 0, 0, 0.3) 0 3px 3px;
    color                              : #000;
    font-size                          : 80%;
/*
    margin                             : 4px 4em 4px -10em !important;
*/
    margin                             : 4px 4em 4px -12px !important;
    padding                            : 4px;
    text-align                         : left;	
    text-indent                        : initial;
}

/* }}} */
/* expander {{{ */
.expander span {
    border-radius : 1em; -moz-border-radius :1em; -webkit-border-radius:1em;
    font-size     : 12px;
    font-weight   : bold;
    padding       : 0 2px 0 2px;
    vertical-align: super;
}
.fold_title span {
    border-radius : 1em; -moz-border-radius :1em; -webkit-border-radius:1em;
    float:right;
    font-size     : 12px;
    padding       : 0 2px 0 2px;
}

.wh1 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset; }
.wh2 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset; }
.wh3 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset; }
.wh4 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset; }
.wh5 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset; }
.wh6 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset; }
.wh7 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset; }
.wh8 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset; }

.wh1  { color: #FA0; background-color:#B33; border:0px solid #666; padding:0 3px 0 3px !important; }
.wh2  { color: #FF0; background-color:#F33; border:0px solid #666; padding:0 3px 0 3px !important; }
.wh3  { color: #00F; background-color:#FA0; border:0px solid #666; padding:0 3px 0 3px !important; }
.wh4  { color: #F00; background-color:#FF0; border:0px solid #666; padding:0 3px 0 3px !important; }
.wh5  { color: #00F; background-color:#0F0; border:0px solid #666; padding:0 3px 0 3px !important; }
.wh6  { color: #0F0; background-color:#00F; border:0px solid #666; padding:0 3px 0 3px !important; }
.wh7  { color: #FF0; background-color:#F0F; border:0px solid #666; padding:0 3px 0 3px !important; }
.wh8  { color: #FF0; background-color:#AAA; border:0px solid #666; padding:0 3px 0 3px !important; }

.fingers {  color:#400 !important; background-color:#aaffaa !important; border:2px red dotted !important; }

/* }}} */

/* IMAGES */
/* img pads {{{ */

.clip_div_mod {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
  -moz-box-shadow   : rgba(0, 0, 0, 0.2) 0 3px 3px;
  box-shadow        : rgba(0, 0, 0, 0.2) 0 3px 3px;
}
.clip_div_mod  { overflow:hidden;     width: 24px;     height:24px; vertical-align:middle; }
.clip_div_pad  { overflow:hidden;     width: 85px;     height:112px; }
.clip_div_pad  {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 3px 10px;
     -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 3px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 3px 10px;
}




.div_map { margin:0; text-align:center; white-space:nowrap; }
.div_map img { opacity:0.5; filter:alpha(opacity= 50); }
.div_map img:hover { opacity:0.8 !important; filter:alpha(opacity= 80) !important; }

.div_map div  { overflow:hidden;     width: 40px;     height: 53px; margin:0 0 5px 2px; display:inline-block; cursor:pointer; }
.div_map div  {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.5) 0 3px 10px;
     -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.5) 0 3px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.5) 0 3px 10px;
	  cursor:pointer;
	  border:3px solid white;
}
.div_map div:hover  {
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
	  border:3px solid white;
}
.clip_pad {
    border:3px #666 solid !important;
}

.clip_map_O1   {                  max-width: 512px; margin-left:  -5px; margin-top:-31px; }
.clip_map_O2   {                  max-width: 512px; margin-left: -55px; margin-top:-31px; }
.clip_map_O3   {                  max-width: 512px; margin-left:-105px; margin-top:-31px; }
.clip_map_O4   {                  max-width: 512px; margin-left:-149px; margin-top:-31px; }
.clip_map_O5   {                  max-width: 512px; margin-left:-193px; margin-top:-31px; }
.clip_map_O6   {                  max-width: 512px; margin-left:-242px; margin-top:-31px; }
.clip_map_O7   {                  max-width: 512px; margin-left:-286px; margin-top:-31px; }
.clip_map_O8   {                  max-width: 512px; margin-left:-330px; margin-top:-31px; }
.clip_map_O9   {                  max-width: 512px; margin-left:-380px; margin-top:-31px; }
.clip_map_OA   {                  max-width: 512px; margin-left:-424px; margin-top:-31px; }
.clip_map_OB   {                  max-width: 512px; margin-left:-468px; margin-top:-31px; }

.clip_map_M1   {                  max-width: 512px; margin-left:  -5px; margin-top:-92px; }
.clip_map_M2   {                  max-width: 512px; margin-left: -55px; margin-top:-92px; }
.clip_map_M3   {                  max-width: 512px; margin-left:-105px; margin-top:-92px; }
.clip_map_M4   {                  max-width: 512px; margin-left:-149px; margin-top:-92px; }
.clip_map_M5   {                  max-width: 512px; margin-left:-193px; margin-top:-92px; }
.clip_map_M6   {                  max-width: 512px; margin-left:-242px; margin-top:-92px; }
.clip_map_M7   {                  max-width: 512px; margin-left:-286px; margin-top:-92px; }
.clip_map_M8   {                  max-width: 512px; margin-left:-330px; margin-top:-92px; }
.clip_map_M9   {                  max-width: 512px; margin-left:-380px; margin-top:-92px; }
.clip_map_MA   {                  max-width: 512px; margin-left:-424px; margin-top:-92px; }
.clip_map_MB   {                  max-width: 512px; margin-left:-468px; margin-top:-92px; }

.clip_map_R1   {                  max-width: 512px; margin-left:  -5px; margin-top:-155px; }
.clip_map_R2   {                  max-width: 512px; margin-left: -55px; margin-top:-155px; }
.clip_map_R3   {                  max-width: 512px; margin-left:-105px; margin-top:-155px; }
.clip_map_R4   {                  max-width: 512px; margin-left:-149px; margin-top:-155px; }
.clip_map_R5   {                  max-width: 512px; margin-left:-193px; margin-top:-155px; }
.clip_map_R6   {                  max-width: 512px; margin-left:-242px; margin-top:-155px; }
.clip_map_R7   {                  max-width: 512px; margin-left:-286px; margin-top:-155px; }
.clip_map_R8   {                  max-width: 512px; margin-left:-330px; margin-top:-155px; }
.clip_map_R9   {                  max-width: 512px; margin-left:-380px; margin-top:-155px; }
.clip_map_RA   {                  max-width: 512px; margin-left:-424px; margin-top:-155px; }
.clip_map_RB   {                  max-width: 512px; margin-left:-468px; margin-top:-155px; }

.clip_map_L1   {                  max-width: 512px; margin-left:  -5px; margin-top:-217px; }
.clip_map_L2   {                  max-width: 512px; margin-left: -55px; margin-top:-217px; }
.clip_map_L3   {                  max-width: 512px; margin-left:-105px; margin-top:-217px; }
.clip_map_L4   {                  max-width: 512px; margin-left:-149px; margin-top:-217px; }
.clip_map_L5   {                  max-width: 512px; margin-left:-193px; margin-top:-217px; }
.clip_map_L6   {                  max-width: 512px; margin-left:-242px; margin-top:-217px; }
.clip_map_L7   {                  max-width: 512px; margin-left:-286px; margin-top:-217px; }
.clip_map_L8   {                  max-width: 512px; margin-left:-330px; margin-top:-217px; }
.clip_map_L9   {                  max-width: 512px; margin-left:-380px; margin-top:-217px; }
.clip_map_LA   {                  max-width: 512px; margin-left:-424px; margin-top:-217px; }
.clip_map_LB   {                  max-width: 512px; margin-left:-468px; margin-top:-217px; }



.clip_img_O2   {                  max-width:1024px; margin-left:-107px; margin-top: -55px; }
.clip_img_L1   {                  max-width:1024px; margin-left:  -8px; margin-top:-432px; }
.clip_img_L2   {                  max-width:1024px; margin-left:-107px; margin-top:-432px; }

.clip_img_R1   {                  max-width:1024px; margin-left:  -8px; margin-top:-307px; }
.clip_img_R2   {                  max-width:1024px; margin-left:-107px; margin-top:-307px; }

.clip_img_MM   {                  max-width:1024px; margin-left:-238px; margin-top:-188px; }
.clip_img_RM   {                  max-width:1024px; margin-left:-213px; margin-top: -88px; }
.clip_img_LM   {                  max-width:1024px; margin-left:-163px; margin-top:-438px; }

/* }}} */
/* h and v img stripes {{{ */
.clip_h_hm     { overflow:hidden;     width: 44px;     height: 15px; }
.clip_h_stripe { overflow:hidden;     width:512px;     height: 55px; }
.clip_v_stripe { overflow:hidden;     width: 45px;     height:248px; }

.clip_v_stripe { display:inline-block; margin-right:2px; }
.clip_v_sep    { display:inline-block; width:2px; }

.clip_img_h1   {                  max-width:512px; margin-left: -10px; margin-top:-45px; }
.clip_img_h2   {                  max-width:512px; margin-left: -10px; margin-top:-107px; }
.clip_img_h3   {                  max-width:512px; margin-left: -10px; margin-top:-169px; }
.clip_img_h4   {                  max-width:512px; margin-left: -10px; margin-top:-232px; }

.clip_img_v1   {                  max-width:512px; margin-left:  -3px; margin-top:-28px; }

.clip_img_v2   {                  max-width:512px; margin-left: -53px; margin-top:-28px; }

.clip_img_v3   {                  max-width:512px; margin-left:-103px; margin-top:-28px; }
.clip_img_v4   {                  max-width:512px; margin-left:-146px; margin-top:-28px; }
.clip_img_v5   {                  max-width:512px; margin-left:-190px; margin-top:-28px; }

.clip_img_v6   {                  max-width:512px; margin-left:-241px; margin-top:-28px; }
.clip_img_v7   {                  max-width:512px; margin-left:-285px; margin-top:-28px; }
.clip_img_v8   {                  max-width:512px; margin-left:-327px; margin-top:-28px; }

.clip_img_v9   {                  max-width:512px; margin-left:-377px; margin-top:-28px; }
.clip_img_v10  {                  max-width:512px; margin-left:-421px; margin-top:-28px; }
.clip_img_v11  {                  max-width:512px; margin-left:-465px; margin-top:-28px; }


/*
.clip_img {
    -webkit-transform:scale(1);
}
*/

/* }}} */

/* SUPPORT */
/* TEXT {{{ */

.label {
    background-color : #100   !important;
    color            : orange !important;
    padding          : 1px 1ex 2px 1ex;
}

#div_support_tuner .button {
    background-color : orange !important;
    color            : white  !important;
    padding          : 1px 1ex 2px 1ex;
}

/* }}} */
/* FOLD - grip div pane {{{ */

/* GRIP {{{ */
    .fold_grip {
	background-color : transparent;
	border-radius    : 25px;
	cursor           : pointer;
	filter           : alpha(opacity =  30);
	opacity          :                0.30;
    }
    .fold_grip:hover {
	filter           : alpha(opacity = 100);
	opacity          :                1.00;
    }

    @media (max-device-width:1200) and (orientation:landscape) {
	.fold_grip { width            : 64px !important; }
    }

    @media (orientation:portrait)  {
	.fold_grip { background-color :  red !important; }
	.fold_grip { width            : 48px !important; }
    }

/* }}} */

/* TRANSCRIPT {{{ */
    .transcript {
	//display        : none;
	//display        : inline-block !important;
	//display        : block !important;
	//float          : left;
	cursor           : pointer;
	//height         : 30em;
	//width          : 35em;
	margin           : 0;
	padding          : 0;
	position         : absolute;
	left             : 50%;
	top              : 50%;
	z-index          : 1;
    }

    @media (orientation:landscape)  {
	.transcript  { left : 50%; }
	.transcript  {  top : 50%; }
    }
    @media (orientation:portrait)  {
	.transcript  { left : 20%; }
	.transcript  {  top : 60%; }
    }

    .transcript div {
	border-radius    : 25px;
	background       : rgba( 0, 0, 0, 0.6);
	margin           : 0;
	padding          : 1em;
	//width          : 100%;
	//height         : 100%;
  -webkit-box-shadow     : rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.5) 0 3px 10px;
     -moz-box-shadow     : rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.5) 0 3px 10px;
          box-shadow     : rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.5) 0 3px 10px;
    }
    .transcript table {
	-moz-user-select : -moz-none; -ms-user-select:none; -webkit-user-select :none;
	font-weight      : bold;
	text-shadow      : 3px 3px 3px #111;
	margin           : 0;
    }
    .transcript th {
	text-align       : center;
	color            : #aaa;
	font-size        : 120%;
	font-weight:bold;
	border-bottom: 0px solid black !important;
    }
    .transcript td {
	text-align       : center;
	color            : #ddd;
	color            : orange;
	border-bottom: 5px groove #600 !important;
    }
    .transcript #vtd {
	white-space      : nowrap;
	font-size        : 300%;
	width            : 8em;
	height           : 1.5em !important;
	//border-radius    : 25px;
	//border           : 5px inset #600 !important;
    }
    .transcript #ktd {
	white-space      : nowrap;
	width            : 6em;
    }
/* }}} */

/* FOLD1 {{{ */
    #fold_div1 {
	position         : fixed;
	bottom           : 4em;
	left             : 1em;
    }
    #fold_pane1 {
	display          : none;
	width            : 715px !important;
	white-space      : nowrap;
    }

    @media (orientation:landscape)  {
	#fold_pane1 { white-space : nowrap; }
    }
    @media (orientation:portrait)  {
	#fold_div1  { bottom      : 100px; }
	#fold_pane1 { white-space : normal; }
    }

/* }}} */
/* FOLD2 {{{ */
    #fold_div2 {
	position         : fixed;
	bottom           : 1px;
	left             : 1em;
	width            : 90%;
    }
    #fold_div2 * {
	vertical-align   : middle;
    }
    #fold_pane2 {
	background-color : lightgray;
	border-radius    : 25px;
	display          : none;
	font-family      : 'Lucida Console', Monaco, monospace;
	font-size        : 200%;
	height           : 1.5em;
	padding          : 1px 1ex 2px 1ex;
	white-space      : nowrap;
	width            : 90%;
	filter           : alpha(opacity =  60);
	opacity          :                0.60;
    }
    #fold_pane2:focus {
	background-color : #100   !important;
	color            : orange !important;
	outline		 : none;
	filter           : alpha(opacity =  80);
	opacity          :                0.80;
    }
    @media (orientation:portrait)  {
	#fold_pane2 {width : 80%;}
    }
/* }}} */
/* FOLD3 {{{ */
    #fold_div3 {
	position : fixed;
	top      : 1px;
	left     : 4em;
	z-index  : 2;
    }
/* }}} */

/* FOLD SHOW HIDE DIM {{{ */
    .fold_show {
	border           : 0;
	display          : inline-block !important;
	filter           : alpha(opacity = 100);
	opacity          :                1.00;
    }
    .fold_show div {
	display          : block !important;
	visibility       : visible;
    }
    .fold_dim {
	display          : inline-block;
	filter           : alpha(opacity =  60);
	opacity          :                0.60;
    }
    .fold_hide {
	display          : none;
	visibility       : hidden;
    }
/* }}} */

/* }}} */

