/* ...FONT {{{ */

 em { white-space:nowrap; }
 em { font-style:normal; }
.o  { font-size:80%; font-weight:normal; letter-spacing:3px; }
.r  { font-size:80%; font-weight:bold;   letter-spacing:3px; }
.m  { font-size:80%; font-weight:bold;   letter-spacing:3px; }
.l  { font-size:80%; font-weight:bold;   letter-spacing:3px; }

/* }}} */
/* ...GEOM {{{ */
/* O RIGHT MIDDLE LEFT */
 em { margin:0 3px 2px 2px; padding:0 1ex 0 1ex; }
.oo { margin:0 3px 2px 2px; padding:0 2px 0 2px; }
.rr { margin:0 3px 2px 2px; padding:0 2px 0 2px; }
.mm { margin:0 3px 2px 2px; padding:0 2px 0 2px; }
.ll { margin:0 3px 2px 2px; padding:0 2px 0 2px; }

/* NUM SHIFT CNTRL ALT */
.nn { margin:0 3px 2px 2px; padding:0 2px 0 2px; }
.ss { margin:0 3px 2px 2px; padding:0 2px 0 2px; }
.cc { margin:0 3px 2px 2px; padding:0 2px 0 2px; }
.aa { margin:0 3px 2px 2px; padding:0 2px 0 2px; }

/* }}} */
/* border-radius {{{ */

 em { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.oo { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.rr { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.mm { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.ll { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

.nn { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.ss { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.cc { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.aa { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

/* }}} */
/* ...COLORS {{{ */
.o  {  color:#444; }
 em {  color:#888; background-color:#111; border:1px solid #666; }
.oo {  color:#444; background-color:#000; border:1px solid  #000; }
.to { border:#222 8px solid; }


.r  {  color:#080; }
.rr {  color:#080; background-color:#020; border:1px solid #080; }
.tr { border:#020 8px solid; }

.m  {  color:#06f; }
.mm {  color:#06f; background-color:#024; border:1px solid #06f; }
.tm { border:#005 8px solid; }

.l  {  color:#a00; }
.ll {  color:#a00; background-color:#300; border:1px solid #a00; }
.tl { border:#200 8px solid; }

.nn {  color:#a6f; background-color:#204; border:1px solid #538; }
.tn { border:#204 8px solid; }

.ss {  color:#000; background-color:#550; border:1px solid #aa0; }
.cc {  color:#000; background-color:#055; border:1px solid #0aa; }
.aa {  color:#000; background-color:#505; border:1px solid #a0a; }

/* }}} */
/* TEXT {{{ */
section p { text-indent:1em; }
/* }}} */
